.version.alumni {
  color: #0000F1;
  background-color: #400674;
}

#muse_css_mq {
  background-color: #FFFFFF;
}

#page {
  z-index: 1;
  min-height: 709.5999999999998px;
  background-image: none;
  border-width: 0px;
  border-color: #000000;
  background-color: transparent;
  padding-bottom: 24.400000000000205px;
  width: 100%;
  max-width: 1900px;
  margin-left: auto;
  margin-right: auto;
}

#pu168 {
  z-index: 8;
  width: 94.74%;
  margin-left: 4.22%
}

#u168 {
  z-index: 8;
  position: relative;
  margin-right: -10000px;
  width: 10.89%;
}

#u154-4 {
  z-index: 2;
  min-height: 75px;
  font-size: 258%;
  position: relative;
  margin-right: -10000px;
  margin-top: 5px;
  left: 12.89%;
  width: 70%;
}

#u158 {
  z-index: 6;
  position: relative;
  margin-right: -10000px;
  margin-top: 3px;
  width: 13.73%;
  left: 86.28%;
}

#u111-4{
    z-index: 10;
}
.navbar-nav.navbar-center {
    position: relative;
    left: 50%;
    transform: translatex(-50%);
    z-index: auto;
}


#menuu337 {
  z-index: 2;
  margin-top: 16px;
  position: relative;
  width: 67.69%;
  margin-left: 14.27%;
  margin-right: 15.27%;
  margin-bottom: 0%;
  min-height: 50px;
}

#u359 {
  min-height: 48px;
  position: relative;
  width: 12.49%;
  font-size: 25%;
}

#u360 {
  padding-bottom: 10px;
  position: relative;
  width: 100%;
  font-size: 33px;
}

#u360:hover {
  min-height: 0px;
  width: 100%;
  margin: 0px 0px 0px 0%;
}

#u361-4 {
  index: 8;
  min-height: 29px;
  position: relative;
  top: 9px;
  width: 100%;
}

#u360:hover #u361-4 {
  padding-top: 0px;
  padding-bottom: 0px;
  min-height: 29px;
  width: 100%;
  margin: 0px 6000px 0px 0%;
}

#u338 {
  min-height: 48px;
  position: relative;
  margin-right: -10000px;
  width: 12.49%;
  left: 12.49%;
}

#u339 {
  padding-top: 19px;
  position: relative;
  width: 100%;
  font-size: 33px;
}

#u360.MuseMenuActive, #u339:hover {
  min-height: 0px;
  width: 100%;
  margin: 0px 0px 0px 0%;
}

#u340-4 {
  z-index: 100;
  min-height: 29px;
  position: relative;
  top: 9px;
  width: 100%;
}

#u360.MuseMenuActive #u361-4, #u339:hover #u340-4 {
  padding-top: 0px;
  padding-bottom: 0px;
  min-height: 29px;
  width: 100%;
  margin: 0px -10000px 0px 0%;
}

#u1261 {
  padding-bottom: 6px;
  position: relative;
  margin-right: -10000px;
  width: 100%;
}

#u1261:hover {
  min-height: 0px;
  width: 100%;
  margin: 0px -10000px 0px 0%;
}

#u1261:active {
  min-height: 0px;
  width: 100%;
  margin: 0px -10000px 0px 0%;
}

#u1265-4 {
  min-height: 22px;
  padding-top: 4px;
  position: relative;
  margin-right: -10000px;
  top: 3px;
  width: 96.09%;
  left: 1.68%;
}

#u1261:hover #u1265-4 {
  padding-top: 4px;
  padding-bottom: 0px;
  min-height: 22px;
  width: 96.09%;
  margin: 0px -10000px 0px 0%;
}

#u1261:active #u1265-4 {
  padding-top: 4px;
  padding-bottom: 0px;
  min-height: 22px;
  width: 96.09%;
  margin: 0px -10000px 0px 0%;
}

#u1304 {
  padding-bottom: 6px;
  position: relative;
  margin-right: -10000px;
  width: 100%;
}

#u1304:hover {
  min-height: 0px;
  width: 100%;
  margin: 0px -10000px 0px 0%;
}

#u1304:active {
  min-height: 0px;
  width: 100%;
  margin: 0px -10000px 0px 0%;
}

#u1261.MuseMenuActive, #u1304.MuseMenuActive {
  min-height: 0px;
  width: 99.45%;
  margin: 0px -9999px 1px 0%;
}

#u1305-4 {
  min-height: 22px;
  padding-top: 4px;
  position: relative;
  margin-right: -10000px;
  top: 3px;
  width: 96.09%;
  left: 1.68%;
}

#u1261.MuseMenuActive #u1265-4, #u1304:hover #u1305-4 {
  padding-top: 4px;
  padding-bottom: 0px;
  min-height: 22px;
  width: 96.09%;
  margin: 0px -10000px 0px 0%;
}

#u1304:active #u1305-4 {
  padding-top: 4px;
  padding-bottom: 0px;
  min-height: 22px;
  width: 96.09%;
  margin: 0px -10000px 0px 0%;
}

#u1157 {
  min-height: 48px;
  position: relative;
  margin-right: -10000px;
  width: 12.49%;
  left: 24.97%;
}

#u1158 {
  padding-bottom: 19px;
  position: relative;
  width: 100%;
  font-size: 33px;
}

#u339.MuseMenuActive, #u1158:hover {
  min-height: 0px;
  width: 100%;
  margin: 0px 0px 0px 0%;
}

#u1160-4 {
  min-height: 29px;
  position: relative;
  top: 9px;
  width: 100%;
}

#u339.MuseMenuActive #u340-4, #u1158:hover #u1160-4 {
  padding-top: 0px;
  padding-bottom: 0px;
  min-height: 29px;
  width: 100%;
  margin: 0px -10000px 0px 0%;
}

#u343, #u1162 {
  top: 48px;
  width: 105.3%;
}

#u1346 {
  padding-bottom: 6px;
  position: relative;
  margin-right: -10000px;
  width: 100%;
}

#u1346:hover {
  min-height: 0px;
  width: 100%;
  margin: 0px -10000px 0px 0%;
}

#u1349-4 {
  min-height: 22px;
  padding-top: 4px;
  position: relative;
  margin-right: -10000px;
  top: 3px;
  width: 96.09%;
  left: 1.68%;
}

#u1304.MuseMenuActive #u1305-4, #u1346:hover #u1349-4 {
  padding-top: 4px;
  padding-bottom: 0px;
  min-height: 22px;
  width: 96.09%;
  margin: 0px -10000px 0px 0%;
}

#u1367 {
  padding-bottom: 6px;
  position: relative;
  margin-right: -10000px;
  width: 100%;
}

#u1346.MuseMenuActive, #u1367:hover {
  min-height: 0px;
  width: 100%;
  margin: 0px -10000px 0px 0%;
}

#u1370-4 {
  min-height: 22px;
  padding-top: 4px;
  position: relative;
  margin-right: -10000px;
  top: 3px;
  width: 96.09%;
  left: 1.68%;
}

#u1346.MuseMenuActive #u1349-4, #u1367:hover #u1370-4 {
  padding-top: 4px;
  padding-bottom: 0px;
  min-height: 22px;
  width: 96.09%;
  margin: 0px -10000px 0px 0%;
}

#u366 {
  min-height: 48px;
  position: relative;
  margin-right: -10000px;
  width: 12.49%;
  left: 37.45%;
}

#u369 {
  padding-bottom: 19px;
  position: relative;
  width: 100%;
  font-size: 33px;
}

#u1158.MuseMenuActive, #u369:hover {
  min-height: 0px;
  width: 100%;
  margin: 0px 0px 0px 0%;
}

#u370-4 {
  min-height: 29px;
  position: relative;
  top: 9px;
  width: 100%;
}

#u1158.MuseMenuActive #u1160-4, #u369:hover #u370-4 {
  padding-top: 0px;
  padding-bottom: 0px;
  min-height: 29px;
  width: 100%;
  margin: 0px -10000px 0px 0%;
}

#u1577 {
  min-height: 48px;
  position: relative;
  margin-right: -10000px;
  width: 12.49%;
  left: 49.93%;
}

#u1578 {
  padding-bottom: 19px;
  position: relative;
  width: 100%;
  font-size: 33px;
}

#u369.MuseMenuActive, #u1578:hover {
  min-height: 0px;
  width: 100%;
  margin: 0px 0px 0px 0%;
}

#u1579-4 {
  min-height: 29px;
  position: relative;
  top: 9px;
  width: 100%;
}

#u369.MuseMenuActive #u370-4, #u1578:hover #u1579-4 {
  padding-top: 0px;
  padding-bottom: 0px;
  min-height: 29px;
  width: 100%;
  margin: 0px -10000px 0px 0%;
}

#u373 {
  min-height: 48px;
  position: relative;
  margin-right: -10000px;
  width: 12.49%;
  left: 62.41%;
}

#u374 {
  padding-bottom: 19px;
  position: relative;
  width: 100%;
  font-size: 33px;
}

#u1578.MuseMenuActive, #u374:hover {
  min-height: 0px;
  width: 100%;
  margin: 0px 0px 0px 0%;
}

#u375-4 {
  min-height: 29px;
  position: relative;
  top: 9px;
  width: 100%;
}

#u1578.MuseMenuActive #u1579-4, #u374:hover #u375-4 {
  padding-top: 0px;
  padding-bottom: 0px;
  min-height: 29px;
  width: 100%;
  margin: 0px -10000px 0px 0%;
}

#u352 {
  min-height: 48px;
  position: relative;
  margin-right: -10000px;
  width: 12.56%;
  left: 74.89%;
}

#u353 {
  padding-bottom: 19px;
  position: relative;
  width: 100%;
  font-size: 33px;
}

#u374.MuseMenuActive, #u353:hover {
  min-height: 0px;
  width: 100%;
  margin: 0px 0px 0px 0%;
}

#u355-4 {
  min-height: 29px;
  position: relative;
  top: 9px;
  width: 100%;
}

#u374.MuseMenuActive #u375-4, #u353:hover #u355-4 {
  padding-top: 0px;
  padding-bottom: 0px;
  min-height: 29px;
  width: 100%;
  margin: 0px -10000px 0px 0%;
}

#u357 {
  top: 48px;
  width: 104.68%;
}

#u1387 {
  padding-bottom: 6px;
  position: relative;
  margin-right: -10000px;
  width: 100%;
}

#u1367.MuseMenuActive, #u1387:hover {
  min-height: 0px;
  width: 100%;
  margin: 0px -10000px 0px 0%;
}

#u1391-4 {
  min-height: 22px;
  padding-top: 4px;
  position: relative;
  margin-right: -10000px;
  top: 3px;
  width: 96.09%;
  left: 1.68%;
}

#u1367.MuseMenuActive #u1370-4, #u1387:hover #u1391-4 {
  padding-top: 4px;
  padding-bottom: 0px;
  min-height: 22px;
  width: 96.09%;
  margin: 0px -10000px 0px 0%;
}

#u344, #u1259, #u1301, #u1163, #u1343, #u1364, #u358, #u1385, #u1406 {
  position: relative;
  width: 100%;
}

#u1407 {
  padding-bottom: 6px;
  position: relative;
  margin-right: -10000px;
  width: 100%;
}

#u1387.MuseMenuActive, #u1407:hover {
  min-height: 0px;
  width: 100%;
  margin: 0px -10000px 0px 0%;
}

#u1407.MuseMenuActive {
  min-height: 0px;
  width: 100%;
  margin: 0px -10000px 0px 0%;
}

#u1409-4 {
  min-height: 22px;
  padding-top: 4px;
  position: relative;
  margin-right: -10000px;
  top: 3px;
  width: 96.09%;
  left: 1.68%;
}

#u1387.MuseMenuActive #u1391-4, #u1407:hover #u1409-4 {
  padding-top: 4px;
  padding-bottom: 0px;
  min-height: 22px;
  width: 96.09%;
  margin: 0px -10000px 0px 0%;
}

#u1407.MuseMenuActive #u1409-4 {
  padding-top: 4px;
  padding-bottom: 0px;
  min-height: 22px;
  width: 96.09%;
  margin: 0px -10000px 0px 0%;
}

#u1265-3, #u1305-3, #u1349-3, #u1370-3, #u1391-3, #u1409-3 {
  margin-left: 2px;
  margin-right: 2px;
}

#u345 {
  min-height: 48px;
  position: relative;
  margin-right: -10000px;
  width: 12.56%;
  left: 87.45%;
}

#u346 {
  padding-bottom: 19px;
  position: relative;
  width: 100%;
  font-size: 33px;
}

#u353.MuseMenuActive, #u346:hover {
  min-height: 0px;
  width: 100%;
  margin: 0px 0px 0px 0%;
}

#u346.MuseMenuActive {
  min-height: 0px;
  width: 100%;
  margin: 0px 0px 0px 0%;
}

#u347-4 {
  min-height: 29px;
  position: relative;
  top: 9px;
  width: 100%;
}

#u353.MuseMenuActive #u355-4, #u346:hover #u347-4 {
  padding-top: 0px;
  padding-bottom: 0px;
  min-height: 29px;
  width: 100%;
  margin: 0px -10000px 0px 0%;
}

#u346.MuseMenuActive #u347-4 {
  padding-top: 0px;
  padding-bottom: 0px;
  min-height: 29px;
  width: 100%;
  margin: 0px -10000px 0px 0%;
}

#u1700-4 {
  z-index: 108;
  min-height: 47px;
  background-color: transparent;
  line-height: 43px;
  font-size: 36px;
  text-align: center;
  font-family: raleway, sans-serif;
  font-weight: 700;
  margin-top: 31px;
  position: relative;
  width: 67.16%;
  margin-left: 16.48%;
}

#pu1793 {
  z-index: 152;
  margin-top: 59px;
  width: 64.74%;
  margin-left: 18.79%;
}

#u1793 {
  z-index: 152;
  position: relative;
  margin-right: -10000px;
  margin-top: 372px;
  width: 14.8%;
  left: 0.17%;
}

#u1794-7 {
  z-index: 153;
  min-height: 93px;
  background-color: transparent;
  line-height: 29px;
  font-size: 24px;
  font-family: raleway, sans-serif;
  position: relative;
  margin-right: -10000px;
  margin-top: 424px;
  width: 26.27%;
  left: 17.81%;
}

#u1795-10 {
  z-index: 160;
  min-height: 368px;
  background-color: transparent;
  line-height: 31px;
  font-size: 24px;
  text-align: justify;
  font-family: raleway, sans-serif;
  font-weight: 400;
  position: relative;
  margin-right: -10000px;
  width: 50.98%;
  left: 49.03%;
}

#u1805 {
  z-index: 171;
  background-color: transparent;
  position: relative;
  margin-right: -10000px;
  margin-top: 340px;
  width: 16.35%;
}

#u1796 {
  z-index: 170;
  height: 2px;
  background-color: #000000;
  margin-top: 46px;
  position: relative;
  width: 67.27%;
  margin-left: 16.53%;
}

#pu1703 {
  z-index: 112;
  margin-top: 48px;
  width: 63.9%;
  margin-left: 19.74%;
}

#u1703 {
  z-index: 112;
  position: relative;
  margin-right: -10000px;
  margin-top: 227px;
  width: 15%;
}

#u1706-8 {
  z-index: 113;
  min-height: 93px;
  background-color: transparent;
  line-height: 29px;
  font-size: 24px;
  font-family: raleway, sans-serif;
  position: relative;
  margin-right: -10000px;
  margin-top: 273px;
  width: 26.61%;
  left: 17.3%;
}

#u1709-10 {
  z-index: 121;
  min-height: 368px;
  background-color: transparent;
  line-height: 31px;
  font-size: 24px;
  text-align: justify;
  font-family: raleway, sans-serif;
  font-weight: 400;
  position: relative;
  margin-right: -10000px;
  width: 51.65%;
  left: 48.36%;
}

#u1712 {
  z-index: 131;
  height: 2px;
  background-color: #000000;
  margin-top: 48px;
  position: relative;
  width: 67.27%;
  margin-left: 16.53%;
}

#pu1715 {
  z-index: 132;
  margin-top: 50px;
  width: 64.32%;
  margin-left: 19.48%;
}

#u1715 {
  z-index: 132;
  position: relative;
  margin-right: -10000px;
  margin-top: 264px;
  width: 14.9%;
}

.ie #u1793, .ie #u1703, .ie #u1715 {
  background-color: #FFFFFF;
  opacity: 0.01;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
  filter: alpha(opacity=1);
}

#u1793 .fluid_height_spacer, #u1703 .fluid_height_spacer, #u1715 .fluid_height_spacer {
  padding-bottom: 104.94505494505495%;
}

#u1718-7 {
  z-index: 133;
  min-height: 93px;
  background-color: transparent;
  line-height: 29px;
  font-size: 24px;
  font-family: raleway, sans-serif;
  position: relative;
  margin-right: -10000px;
  margin-top: 320px;
  width: 26.44%;
  left: 17.84%;
}

#u1794-2, #u1706-2, #u1718-2 {
  font-weight: 700;
}

#u1794-4, #u1794-5, #u1706-4, #u1706-6, #u1718-4, #u1718-5 {
  font-weight: 400;
}

#u1721-11 {
  z-index: 140;
  min-height: 775px;
  background-color: transparent;
  font-size: 24px;
  font-family: raleway, sans-serif;
  font-weight: 400;
  position: relative;
  margin-right: -10000px;
  width: 51.72%;
  left: 48.29%;
}

#u1721-2, #u1721-3, #u1721-5, #u1721-6, #u1721-8 {
  text-align: justify;
  line-height: 31px;
}

#u1721-9 {
  line-height: 29px;
}

#u1724 {
  z-index: 151;
  height: 2px;
  background-color: #000000;
  margin-top: 46px;
  position: relative;
  width: 67.27%;
  margin-left: 16.43%;
}

.css_verticalspacer .verticalspacer {
  height: calc(100vh - 3106px);
}

#u1090 {
  z-index: 105;
  height: 5px;
  margin-top: 51px;
  position: relative;
  width: 97.64%;
  margin-left: 1.11%;
}

#pu478 {
  z-index: 101;
  margin-top: 4px;
  width: 36.64%;
  margin-left: 33.85%;
}

#u478 {
  z-index: 101;
  position: relative;
  margin-right: -10000px;
  width: 28.6%;
}

#u1760 {
  z-index: 106;
  position: relative;
  margin-right: -10000px;
  margin-top: 3px;
  width: 30.61%;
  left: 29.32%;
}

#u485 {
  z-index: 103;
  position: relative;
  margin-right: -10000px;
  margin-top: 6px;
  width: 37.07%;
  left: 62.94%;
}

.html {
  background: #FFFFFF url("../images/1350.jpg?crc=298046365") no-repeat center top fixed;
  background-size: cover;
}

body {
  background: #FFFFFF url("../images/1350.jpg?crc=29804636") no-repeat center top fixed;
  background-size: cover;
  position: relative;
  min-width: 320px;
  padding-top: 30px;
}

#u1805_img, #u168_img, #u158_img, #u478_img, #u1760_img, #u485_img {
  width: 100%;
}
